*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 0px
}


.container {
	min-width: auto;
}

.row {
	text-align:center;
}

.modal-dialog {
  float:auto;
  height: auto;
  width: 850px;
  margin-left: auto;
}


.modal-content {
	min-height: auto;
	min-width: 750px;
}

.modal-body, .carousel-caption{
	height: 140px;
	width: auto;
}

.item {
	height:auto;
	width: auto;
}


.modal-footer {
	text-align: center;
}

.btn:hover {
	background-color: black;
}

.btn-danger {
	float: right;
}

.btn-warning {
	float: right;
}

.btn-primary, .btn-info, .btn-default {
	background-color: black;
	float:center;
	border-color: black;
	border-radius: 0;
}

.carousel-caption , .modal-body{
	font-size: 14px;
}

.modal-body {
	text-align: left;
}

.item {
	background-color: black;
}

h2 {
	font-family: courier;
}

p {
	font-size: 90%;
	font-family: courier;
}

h3 {
	font-family: courier;

}
