button {
	margin-right: 5px;
	margin-bottom: 5px;
}

.btn-info {
	margin-bottom: 5px;
}

.modal-footer {
	text-align: center;
}

.btn-danger {
	float: right;
}

.btn-warning {
	float: right;
}

.item {
	background-color: black;
}

h2 {
	font-family: courier;
}

p {
	font-size: 90%;
	font-family: courier;
}

h3 {
	font-family: courier;

}

