*{
	margin:0px;
	padding:0px;
	border:0px;
}

.container {
	min-width: auto;
}

.modal-dialog {
  float:auto;
  height: auto;
  width: 850px;
  margin-left: auto;
}


.modal-content {
	min-height: auto;
	min-width: 750px;
}

.modal-body, .carousel-caption{
	height: 140px;
	width: auto;
}

.item {
	height:auto;
	width: auto;
}

.btn-info {
	margin-bottom: 5px;
}

.modal-footer {
	text-align: center;
}

.btn-danger {
	float: right;
}

.btn-warning {
	float: right;
}

.btn-primary {
	margin-bottom: 5px;
}

.item {
	background-color: black;
}

h2 {
	font-family: courier;
}

p {
	font-size: 90%;
	font-family: courier;
}

h3 {
	font-family: courier;

}
